<!--<!DOCTYPE html>-->
{% load static %}
<html lang="en">
    <head>
        <title>FoodELF_Menu:JasperDeli</title>
        <link rel="stylesheet" type="text/css" href="{% static "manageTables/css/summary.css" %} ">
        <style type="text/css">
            @font-face {font-family: OpenSans-Regular;
                        src: url({% static "manageTables/fonts/OpenSans-Regular.ttf" %});
                        }
           
        </style>
    </head>
    <body>
        <h1>TABLE {{table_id}} BILL SUMMARY</h1>
        <table width="15%" class="customer">
            <thead>
            <tr><th>Customers</th></tr>
            </thead>
            <tbody>
            {% for customer in customer_list %}
                    <tr>
                        <td>Customer {{customer.id}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <table border="1" cellpadding="5" class="bill" >
            <thead>
                <tr>
                    <th>Item No.</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ordered_items %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.item_name}}</td>
                        {% load humanize %}
                        <td>$ {{item.price|floatformat:2}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td></td>
                <td><a href="#" onClick="openForm(); return false;">+ ADD ITEM</a></td>
                <td></td>
            </tfoot>
        </table>
        <br><br>
        <p>Total: $ {{subtotal|floatformat:2}}</p>
        {#<button type="button" class="abs_btn">CHECKOUT</button>#}
        
        
        <div class="form-popup" id="myForm" align="center" >
            <table class="popup-Menu" width="100%" border="1" cellpadding="5" >
                    <tr>
                        <th>ITEM #</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                    </tr>
                    {% for item in menu_list %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td><a href="{% url 'manageTables:addItemToBill' table_id item.id %}">{{item.item_name}}</a></td>
                            <td>$ {{item.price|floatformat:2}}</td>
                        </tr>
                    {% endfor %}
            </table>
            <button type="button" class="btn cancel" onclick="closeForm()">CLOSE</button>
            
        </div>
        <div id='overlay' class='overlay' style="display:none;"></div>
        
        
        <div class="navbar">
            <a href="{% url "home:index" %}" class="home">HOME</a>
            <a href="{% url "manageTables:index" %}">MANAGE TABLES</a>
            <a href="#contact">MANAGE INVENTORY</a>
            <a href="#contact">OPERATIONS RESEARCH</a>
            <a href="#" onclick="openForm(); return false;" class="active">ADD ITEM</a>
            <a href="#contact" class="active">CLOSEOUT</a>
        </div>
        
        <script>
                function openForm() {document.getElementById("myForm").style.display = "block";}
                
                function closeForm() {document.getElementById("myForm").style.display = "none";}
        </script>

    </body>
</html>