<html>
    {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
    <head>
        <title>{{item.item_name}}</title>
    </head>
    <body>
        <h1>{{item.item_name}}</h1><br>
        
        <table border="1">
            <tr>
                <td><strong>Item #:</strong></td>
                <td>{{item.item_id}}</td>
            </tr>
            <tr>
                <td><strong>Price:</strong></td>
                {% load humanize %}
                <td>${{item.price|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <td><strong>Ingredients:</strong></td>
                <td>{{item.ingredients}}</td>
            </tr>
        </table><br>
        
        <form action="{% url 'home:purchase' item.id %}" method="POST">
            {% csrf_token %}
            <p>Quantity:</p>
            <input type="text" name="textfield">
            <button type="submit">Purchase</button>
        </form>
        
        <a href="{% url 'home:menu' %}">Go Back</a>
    </body>
    
</html>
