<!--<!DOCTYPE html>-->
<html lang="en">
    <head>
        <title>FoodELF_Menu:JasperDeli</title>
        <style type="text/css">
            h1 {text-align:center;}
            table {text-align:center;
                   margin-left:10%;
                   font-size:25px;}
            .abs_btn{width:100px;
                     height:50px;
                     position:fixed;
                     left:90%;
                     top:90%;}
        </style>
    </head>
    <body>
        <h1>MENU</h1>
        <table width="80%" border="1" cellpadding="5" >
            <tr>
                <th>ITEM #</th>
                <th>NAME</th>
            </tr>
            {% for item in item_list %}
                <tr>
                    <td>{{item.id}}</td>
                    <td><a href="{% url 'home:detail' item.id %}">{{item.item_name}}</a></td>
                </tr>
            {% endfor %}
        </table>
        <button type="button" class="abs_btn">Im Absolute BABY!!!</button>
    </body>
</html>